.e-commerce-footer {
  width: 100%;
  grid-auto-rows: 1fr 0fr;
  justify-items: center;
  align-content: center;
  grid-gap: 50px !important;
  background-color: black;
  color: #fff;
  padding: 65px 85px 13px 85px;
}

.e-commerce-footer-cont {
  width: 100%;
  display: grid;
  grid-template-columns: 175px 0.25fr auto auto auto;
  justify-content: space-between;
}

.footer-links-items {
  margin-top: 0;
}

.subscription-form-wrapper {
  display: grid;
}

.e-com-subscription-form {
  border: 1px solid #fff;
  padding: 3px;
}

.email-input {
  width: 100%;
  padding: 9px;
}
.email-input::placeholder {
  font-size: 13px;
  display: flex;
  align-items: center;
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.fnavigate {
  color: #fff;
}

.footer-logo {
  font-size: 21px;
}

.footer-sec-head {
  margin-top: 0;
  font-weight: 500;
  font-size: 18px;
}

.footer-sec-subhead {
  font-size: 18px;
}

.footer-links-items {
  padding: 6px 0;
  font-size: 14.3px;
}

.download-links-cont {
  display: grid;
  grid-gap: 3px;
}
.download-links {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 0fr auto;
}
.footer-download-qr-code {
  display: flex;
  width: 71px;
  height: 71px;
}

.footer-download-ways-svg,
.googleplay-cont,
.appstore-cont {
  display: flex;
}

.download-links-ways {
  display: grid;
  grid-gap: 3px;
}

.social-links {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  grid-gap: 23px;
}

.download-social-sec {
  display: grid;
  grid-gap: 18px;
}

.social-icons {
  width: 18;
  height: 18px;
}

.copyright-cont {
  display: grid;
  grid-template-columns: 0fr auto;
  grid-gap: 9px;
  align-items: center;
}
.copyright-icon-svg {
  width: 14px;
  height: 14px;
  display: flex;
}

.copyright {
  font-size: 14.3px;
  color: #3b3a3a;
}

.send-email-icon {
  width: 18px;
  height: 18px;
}

@media screen and (max-width: 767px) and (min-height: 657px) {
  .e-commerce-footer {
    padding: 18vw 5% 7vw 5%;
    justify-items: start;
    grid-gap: 50px !important;
  }
  .e-commerce-footer li,
  .e-commerce-footer p,
  .e-com-input::placeholder {
    font-size: 3vw;
  }

  .e-commerce-footer-cont {
    grid-template-columns: 50% 50%;
    grid-row-gap: 50px;
    justify-content: start;
  }
  .e-com-form {
    width: 80%;
  }
  .newsletter-sec {
    grid-column: 1 / span 2;
  }
  .quick-links-sec,
  .account-links-sec {
    grid-row: 3;
  }

  .info-sec {
    grid-row: 2;
  }
  .download-social-sec {
    grid-row: 4;
    grid-column: 1 / span 2;
  }
  .download-links {
    grid-template-columns: 0fr 42%;
  }
  .footer-download-qr-code {
    width: 22vw;
    height: 22vw;
  }

  .footer-sec-subhead,
  .footer-sec-head {
    font-size: 4vw;
  }
  .social-icons {
    width: 4.5vw;
    height: 4.5vw;
  }
  .copyright-icon-svg {
    width: 3vw;
    height: 3vw;
  }
  .send-email-icon {
    width: 4vw;
    height: 4vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) and (min-height: 657px) {
  .e-commerce-footer {
    padding: 10vw 3vw 5vw 3vw;
    justify-items: start;
    grid-gap: 15px !important;
  }
  .e-commerce-footer li,
  .e-commerce-footer p,
  .e-com-input::placeholder {
    font-size: 2vw;
  }
  .footer-links-items {
    padding: 0.7vw 0;
  }

  .e-commerce-footer-cont {
    grid-template-columns: 0.55fr 0fr auto auto;
    grid-row-gap: 70px;
    justify-content: space-between;
  }

  .newsletter-sec {
    grid-row: 2;
    grid-column: 1 / span 2;
  }
  .social-links {
    grid-gap: 3vw;
  }

  .download-links {
    grid-template-columns: 0fr 40%;
  }
  .footer-download-qr-code {
    width: 9vw;
    height: 9vw;
  }
  .email-input {
    padding: 2vw;
  }
  .footer-sec-subhead,
  .footer-sec-head {
    font-size: 2.5vw;
  }
  .footer-logo {
    font-size: 3vw;
  }
  .social-icons {
    width: 2.5vw;
    height: 2.5vw;
  }
  .copyright-icon-svg {
    width: 2vw;
    height: 2vw;
  }
  .send-email-icon {
    width: 2.3vw;
    height: 2.3vw;
  }
}
