.header-banner {
  padding-left: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hbanner-button {
  color: #fff;
  padding: 0 1%;
  text-decoration: underline;
}
.Hbanner {
  padding: 15px 85px;
  background-color: black;
  color: #fff;
  width: 100%;
  align-items: center;
  display: flex;
}

.langugage-popup {
  position: relative;
}

.languages-selector-cont {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 9;
  right: 0;
  border-radius: 5px;
  backdrop-filter: blur(10px);
}

.languages-selector-option {
  font-weight: 400;
  list-style-type: none;
  margin-left: 15px;
  cursor: pointer;
}

.language-selected-cont {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.language-selected {
  font-weight: 500;
  font-size: 15px;
  margin-right: 10px;
}
.language-icon {
  width: 10px;
  height: 10px;
  display: flex;
}

.languages-selector-option-cont {
  display: flex;
  align-items: center;
  margin: 20px 20px;
}

.languages-selector-option-code {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  padding: 10px;
}

@media screen and (max-width: 767px) and (min-height: 657px) {
  .Hbanner {
    padding: 2vw 5vw;
  }
  .language-selected {
    font-size: 2.3vw;
    margin-right: 1vw;
  }
  .e-com-button.hbanner-button {
    display: none;
  }
  .language-icon {
    width: 1.5vw;
    height: 1.5vw;
  }
  .languages-selector-cont {
    font-size: 2.5vw;
  }
  .languages-selector-option-cont {
    margin: 2vw;
  }
  .languages-selector-option-code {
    width: 2.5vw;
    height: 2.5vw;
    padding: 2.5vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) and (min-height: 657px) {
  .Hbanner {
    padding: 2vw 3vw;
  }
  .e-com-button.hbanner-button {
    display: none;
  }
  .language-selected {
    font-size: 2vw;
    margin-right: 1vw;
  }
  .language-icon {
    width: 1.5vw;
    height: 1.5vw;
  }
  .languages-selector-cont {
    font-size: 2.2vw;
  }
  .languages-selector-option-cont {
    margin: 1.5vw;
  }
  .languages-selector-option-code {
    width: 2.5vw;
    height: 2.5vw;
    padding: 2.5vw;
  }
}
