.e-com-jumbotron {
  display: grid;
  overflow: hidden;
  grid-template-columns: 20% 80%;
  max-height: 25em;
}

@media screen and (max-width: 767px) and (min-height: 657px) {
  .e-com-jumbotron {
    grid-template-columns: auto;
  }
  .sidebar {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) and (min-height: 657px) {
  .e-com-jumbotron {
    grid-template-columns: auto;
  }
  .sidebar {
    display: none;
  }
}
