.product-rating-cont {
  display: flex;
}

.star-icon {
  width: 3vh;
  height: 3vh;
}

@media screen and (max-width: 767px) and (min-height: 657px) {
  .star-icon {
    width: 10px;
    height: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) and (min-height: 657px) {
  .star-icon {
    width: 20px;
    height: 20px;
  }
}
