.red-small-section {
  height: 51px;
  display: grid;
  grid-template-columns: 19px auto;
  grid-gap: 19px;
  align-items: center;
}

.red-part {
  height: 100%;
  width: 100%;
  background-color: #db4444;
  border-radius: 5px;
}
.red-small-section-content {
  height: fit-content;
  margin: 0;
  color: #db4444;
  font-size: 16px;
}

@media screen and (max-width: 767px) and (min-height: 657px) {
  .red-small-section {
    height: 6.5vw;
    grid-template-columns: 3vw auto;
    grid-gap: 10px;
  }
  .red-small-section-content {
    font-size: 2.5vw;
  }
  .red-part {
    border-radius: 3px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) and (min-height: 657px) {
  .red-small-section {
    height: 6.5vw;
    grid-template-columns: 3vw auto;
    grid-gap: 10px;
  }
  .red-small-section-content {
    font-size: 2.5vw;
  }
  .red-part {
    border-radius: 3px;
  }
}
