.e-com-services {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
}

.service {
  display: grid;
  grid-gap: 6px;
  justify-items: center;
}
.services-head,
.services-para {
  text-align: center;
}

.services-svg-icon-wrapper {
  background-color: #000;
  border-radius: 900px;
  padding: 6px;
}
.services-svg-icon {
  background-color: #e3e3e3;
  border-radius: 900px;
  padding: 10px;
  height: fit-content;
}

.services-icon {
  width: 39px;
  height: 39px;
  display: flex;
}

@media screen and (max-width: 767px) and (min-height: 657px) {
  .services-head {
    font-size: 2.2vw !important;
  }
  .services-svg-icon {
    padding: 2vw;
  }
  .services-icon {
    width: 5vw;
    height: 5vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) and (min-height: 657px) {
  .services-head {
    font-size: 2vw !important;
  }
  .services-svg-icon {
    padding: 1.5vw;
  }
  .services-icon {
    width: 4vw;
    height: 4vw;
  }
}
