.sidebar {
  border-right: 1px solid #cfcfcf;
  overflow: hidden;
}
.e-com-sidebar {
  padding: 39px 13px 0 0;
}

.e-com-categories {
  margin: 0;
  padding: 0;
}
.e-com-sidebar > .e-com-categories {
  height: 20em;
  overflow-y: auto;
}

.e-com-categories > .e-com-categories-item:first-child {
  margin: 0;
}

.e-com-categories-item {
  margin: 10px 0;
  list-style-type: none;
}

.subcategories-item-parent {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: space-between;
}

.sidebar-icon.down {
  display: flex;
  margin: 0 6px;
  width: 10px;
  height: 10px;
}

.sidebar-icon.right {
  display: flex;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 767px) and (min-height: 657px) {
  .e-com-sidebar {
    padding: 0;
  }
  .e-com-sidebar > .e-com-categories {
    height: 100%;
  }
  .e-com-categories > .e-com-categories-item:first-child {
    margin-top: 0 !important;
  }
  .e-com-categories > .e-com-categories-item:last-child {
    margin-bottom: 0 !important;
  }
  .sidebar-icon path {
    stroke: #fff;
  }
  .sidebar-icon.right {
    width: 3vw;
    height: 3vw;
  }
  .sidebar-icon.down {
    margin: 0 3px;
    width: 2vw;
    height: 1.5vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) and (min-height: 657px) {
  .e-com-sidebar {
    padding: 0;
  }
  .e-com-sidebar > .e-com-categories {
    height: 100%;
  }
  .e-com-categories-item:first-child {
    margin-top: 0 !important;
  }
  .e-com-categories-item:last-child {
    margin-bottom: 0 !important;
  }
  .sidebar-icon path {
    stroke: #fff;
  }
  .sidebar-icon.right {
    width: 3vw;
    height: 3vw;
  }
}
