.flash-sale {
  display: grid;
  align-items: end;
  grid-gap: 13vh;
  justify-items: end;
}
.flash-sale.twice {
  grid-template-columns: 0fr auto;
}
.flash-sale.thrice {
  grid-template-columns: 0fr 0fr auto;
}

.sproducts-products-wrapper {
  border-bottom: 1px solid #e3e3e3;
}

.sproduct-products {
  transition: all 0.7s;
  margin: 4vh 0 7vh 0;
  display: grid;
  grid-gap: 2%;
}

.sproduct-product {
  border-radius: 5px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30vh 0fr 0fr 0fr;
  grid-gap: 1vh;
}

.product-image {
  overflow: hidden;
  position: relative;
}

.sproduct-heading {
  width: 50%;
  height: 15px;
  background-color: #e3e3e3;
  border-radius: 2px;
}

.product-thumbnail {
  background-color: #e3e3e3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.product-thumbnail-sample {
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
  border-radius: 5px;
}

.product-discount-perc {
  position: absolute;
  top: 0;
  margin: 3%;
  background-color: #db4444;
  padding: 2% 5%;
  font-size: 1.5vh;
  color: #fff;
  border-radius: 5px;
}

.product-details {
  display: grid;
  grid-gap: 1vh;
}

.product-details.pflex {
  grid-template-columns: 0fr 1fr;
}

.product-price {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1vh;
  justify-content: left;
}

.discount-price,
.normal-price {
  color: #db4444;
}
.original-price {
  color: grey;
  text-decoration: line-through;
}
.pprice {
  font-weight: 400;
}

.product-title {
  font-size: 2.5vh;
  margin: 0;
}

.product-rating {
  display: grid;
  grid-template-columns: 0fr 1fr;
  align-items: center;
  grid-gap: 1vh;
  color: grey;
}

.sproducts-product-cont-wrapper {
  margin-bottom: 7vh;
}

.sproducts-button-cont {
  text-align: center;
}

.sproducts-products-cont {
  overflow: hidden;
}

@media screen and (max-width: 767px) and (min-height: 657px) {
  .flash-sale {
    justify-items: start;
    grid-gap: 0;
    grid-row-gap: 10px;
    justify-content: space-between;
  }
  .flash-sale.twice {
    grid-template-columns: 0fr auto;
  }
  .flash-sale.thrice {
    grid-template-columns: 0fr 0fr;
  }
  .sproducts-product-cont-wrapper {
    margin: 3% 0 10% 0;
  }
  .sproduct-product {
    grid-template-rows: 20vw 0fr 0fr 0fr;
  }
  .sproduct-products {
    margin: 0 0 7% 0;
  }
  .product-title {
    font-size: 3vw;
  }
  .product-price,
  .product-rating,
  .pprice {
    font-size: 2.5vw;
  }
  .timer-cont {
    grid-column: 1;
  }
}
