.lform-cont {
  display: grid;
  grid-gap: 13px;
  position: relative;
}

.lform-button {
  padding: 18px 26px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
}
.lsubmit-button {
  width: 35%;
  margin-top: 13px;
}

.forgot-password-cont {
  position: absolute;
  bottom: 0;
  right: 0;
  width: fit-content;
  float: right;
}

.forgot-password-button {
  color: #bb4444;
  padding: 18px 0;
  font-size: 15px;
  font-weight: 500;
}

@media screen and (min-width: 768px) and (max-width: 992px) and (min-height: 657px) {
  .ssubmit-button {
    font-size: 1.8vw;
  }
  .lform-button {
    font-size: 1.8vw;
  }
  .forgot-password-button {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 767px) and (min-height: 657px) {
  .ssubmit-button {
    font-size: 2.9vw;
  }
  .lform-button {
    font-size: 2.9vw;
  }
  .forgot-password-button {
    font-size: 2.9vw;
  }
}
