.login-cont {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 650px;
  margin: 52px 0 13px 0;
}

.login-image {
  border-radius: 4px;
}

.login {
  display: grid;
  align-content: center;
  grid-gap: 39px;
  padding: 0 98px;
}

.login-mains {
  display: grid;
  grid-gap: 9px;
}

.login-main-para {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}
.login-main-heading {
  margin: 0;
  font-size: 32.5px;
  font-weight: 500;
}

@media screen and (min-width: 768px) and (max-width: 992px) and (min-height: 657px) {
  .login-cont {
    height: max-content;
    grid-template-columns: auto;
    grid-gap: 30px;
    margin: 0;
  }
  .login-image {
    height: 30vh;
  }
  .login-main-heading {
    font-size: 4vw;
  }
  .login-main-para {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 767px) and (min-height: 657px) {
  .login-cont {
    height: max-content;
    grid-template-columns: auto;
    grid-gap: 30px;
    margin: 0;
  }
  .login-image {
    height: 30vh;
  }
  .login {
    padding: 0 5vw;
  }
  .login-main-heading {
    font-size: 5vw;
  }
  .login-main-para {
    font-size: 2.8vw;
  }
  .medium-para.already-account-para,
  .already-account-button {
    font-size: 2.9vw;
  }
}
