.signup-cont {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 650px;
  margin: 52px 0 13px 0;
}

.signup-image {
  border-radius: 4px;
}

.signup {
  display: grid;
  align-content: center;
  grid-gap: 39px;
  padding: 0 98px;
}

.signup-mains {
  display: grid;
  grid-gap: 9px;
}

.signup-main-para {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}
.signup-main-heading {
  margin: 0;
  font-size: 32.5px;
  font-weight: 500;
}

.already-account-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #848484;
}

.already-account-button {
  border-bottom: 1px solid #848484;
  color: #848484;
  padding: 2px 0;
  margin-left: 13px;
}

@media screen and (min-width: 768px) and (max-width: 992px) and (min-height: 657px) {
  .signup-cont {
    height: max-content;
    grid-template-columns: auto;
    grid-gap: 30px;
    margin: 0;
  }
  .signup-image {
    height: 30vh;
  }
  .signup-main-heading {
    font-size: 4vw;
  }
  .signup-main-para {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 767px) and (min-height: 657px) {
  .signup-cont {
    height: max-content;
    grid-template-columns: auto;
    grid-gap: 30px;
    margin: 0;
  }
  .signup-image {
    height: 30vh;
  }
  .signup {
    padding: 0 5vw;
  }
  .signup-main-heading {
    font-size: 5vw;
  }
  .signup-main-para {
    font-size: 2.8vw;
  }
  .medium-para.already-account-para,
  .already-account-button {
    font-size: 2.9vw;
  }
}
